<div style="width:100%" layout="row">

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <div layout="column" style="width:100%">
                <section layout="row" layout-sm="column" layout-align="left left" layout-wrap>
                    <md-button class="md-raised md-info" ng-href="#/groupintake" >Group Intake</md-button>
                    <!--<md-button class="md-raised md-primary" ng-click="_ctrl.saveCustomer()">Save</md-button>
                    <md-button class="md-raised md-danger" ng-click="_ctrl.cancelEdit()">Cancel</md-button>
                    <md-button class="md-raised md-warn" ng-click="_ctrl.deleteCustomer()">Delete</md-button>
                    -->
                </section>
            </div>
        </md-toolbar>
        <md-content flex id="content">
        </md-content>

    </div>
</div>